body
{
background-image:url(bg.jpeg);
}
.green{
color:green;
}

h1{
text-align:center;
font-size:40px;
}

.container1
{
height:140px;
padding-left:28%;
margin-top:150px;
}

.container2
{
height:600px;
width:800px;
margin:15px;
margin-left:auto;
margin-right:auto;
}

#textbox
{
margin:8px;
height:50px;
width:50%
}

input[type="radio"]
{
margin-top:15px;
margin-bottom:15px;
margin-left:25px;
margin-right:5px;
}

#submitbtn
{
margin:5px;
padding:12px;
font-size:20px;
}

.colorpallete
{
margin-left:50px;
margin-top:20px;
}

span
{
    font-size:25px;
}

li
{
height:50px;
width:300px;
margin:50px;
font-size:30px;
border:2px black solid;
}